:root {
  --chalk-white: rgb(219, 219, 213);
  --chalk-black: rgb(35, 33, 33); 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

@font-face {
  font-family: 'colored-crayons';
  src: url('./fonts/Colored\ Crayons.ttf')
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.display-3 {
  font-family:'colored-crayons', sans-serif;
  color: var(--chalk-white);
}

.lead {
  color: var(--chalk-white);
  font-family: 'Roboto', sans-serif, 'Tahoma', sans-serif;
  font-size: 25px;
}

#currentDay {
  font-family:'colored-crayons', sans-serif, 'Tahoma', sans-serif;
  font-style: italic;
  color: var(--chalk-white);
  font-size: 35px;
}

.description {
  font-family: 'Roboto', sans-serif, 'Tahoma', sans-serif;
  color: var(--chalk-white);
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  font-family: 'Permanent Marker',cursive, 'Tahoma', sans-serif;
  font-size: 20px;
}

.hour {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chalk-white);
  color: var(--chalk-black);
  border-top: 1px dashed #000000;
  border-radius: 10px;
}

.past {
  background-color: rgba(128, 125, 125, 0.7);
}

.present {
  background-color: rgba(138, 78, 75, 0.7);
}

.future {
  background-color: rgba(154,178,154, 0.7);
}

.saveBtn {
  border-left: 1px solid var(--chalk-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #5d8b96;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
